<ion-split-pane class="home">
    
  <!-- logged out menu -->
  <ion-menu *ngIf="!authService.authenticated" [content]="content">
  
    <ion-header>
      <ion-toolbar color="primary" >
        <ion-title>Weytindey</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

      <ion-list>
        <ion-list-header>
          Navigate
          <div *ngIf="authService.authenticated">
              {{ authService.currentUser.displayName }}
           </div>
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Account
        </ion-list-header>
        
        <button ion-item menuClose *ngFor="let p of loggedOutPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Tutorial
        </ion-list-header>
        <button ion-item menuClose (click)="openTutorial()">
          <ion-icon item-start name="hammer"></ion-icon>
          Show Tutorial
        </button>
      </ion-list>
    </ion-content>

  </ion-menu>
 
  <!-- logged in menu -->
  <ion-menu *ngIf="authService.authenticated" [content]="content">
     
    <ion-header class="header-u-c">
      <ion-toolbar>
        <ion-row  >
            <ion-col col-2>
                <ion-avatar item-start class="avatar" start>
                    <img [src]="authService.currentUser.photoURL || './assets/logo.png'" alt="{{ authService.currentUser.displayName }}">
                  </ion-avatar>
            </ion-col>
            <ion-col col-10>
              
                    <ion-title><h2>{{authService.currentUserDisplayName}}</h2></ion-title>
                    <div>
                        <ion-segment>
                            <ion-segment-button value="all">
                              My profile
                            </ion-segment-button>
                            <ion-segment-button value="favorites">
                              My Blogs
                            </ion-segment-button>
                            <ion-segment-button >
                              Settings
                            </ion-segment-button>
                          </ion-segment>
                    </div>
            </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

      <ion-list>
       
        <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
    
      </ion-list>

      <ion-list>
        <ion-list-header>
          Account
        </ion-list-header>
        
        <button ion-item menuClose *ngFor="let p of loggedInPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Tutorial
        </ion-list-header>
        <button ion-item menuClose (click)="openTutorial()">
          <ion-icon item-start name="hammer"></ion-icon>
          Show Tutorial
        </button>
      </ion-list>

    </ion-content>

  </ion-menu>

  <!-- main navigation -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main name="app"></ion-nav>

</ion-split-pane>
